<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{{self._TemplateReference__context.name}}</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- responsive style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="images/il.png" alt="" />
          </a>
          <div class="navbar-collapse" id="">
            <ul class="navbar-nav justify-content-between ">
              <div class="User_option">
                <li class="">
                  <a class="mr-4" href="{{ url_for('login' ) }}">
                    Login
                  </a>
                </li>
              </div>
            </ul>

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/features">FEATURES</a>
                <a href="/subscribe">SUBSCRIPTION</a>
                <a href="/contact">CONTACT US</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <div class="detail-box">
              <h1>
                <span> IIT</span> <br>
                GANDHINAGAR <br>
                LIBRARY
              </h1>
              <p>
                The IIT Gandhinagar library is your gateway to a world of knowledge, offering a vast collection of
                resources to fuel your academic journey.
              </p>
              <!-- <div class="btn-box">
                <a href="" class="">
                  Read More
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- find section -->
  <section class="find_section ">
    <div class="container">
      <form action="/search-catalogue" method="post">
        <div class="form-row">
            <div class="col-md-10">
                <input type="text" class="form-control" name="search_query" placeholder="Search The Catalogue">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    
    </div>
  </section>

  <!-- end find section -->


  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="square-box">
      <!-- <img src="images/square.png" alt=""> -->
      <img src="{{ url_for('static', filename='images/square.png') }}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/lib.jpg') }}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container border">
              <h2>
                About IITGN library
              </h2>
            </div>
            <p>

              The IIT Gandhinagar Library is a vital resource hub for students and faculty members alike, offering a
              vast collection of academic literature, research materials, and multimedia resources. It serves as a quiet
              and conducive space for study, research, and intellectual exploration. With its extensive collection and
              modern facilities, the library plays a crucial role in supporting the academic and research endeavors of
              the IITGN community.
            </p>
            <!-- <a href="./contact.html">
              Know More
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end about section -->

  <!-- sale section -->

  <section class="sale_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          IITGN Library features
        </h2>
        <p>
          There are many features and facilities available at IITGN library!
      </div>
      <div class="sale_container">
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/IMG8.jpg') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Book Corner
            </h6>
            <p>
              You can enjoy reading loads of books while you stay here, as library is open till 2 am.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/IMG1.jpg') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              STRUCTURE
            </h6>
            <p>
              There are 2 floors dedicated to books placements, readings and group study rooms!
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/IMG3.jpg') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Enquiry
            </h6>
            <p>
              Receptionists are always available to answer your queries!
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/IMG4.jpg') }}" alt="">


          </div>
          <div class="detail-box">
            <h6>
              Only Books!
            </h6>
            <p>
              Here we have a collection of over 10k books, and you will see mostly books and books!
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/IMG5.jpg') }}" alt="">

          </div>
          <div class="detail-box">
            <h6>
              Author Collections
            </h6>
            <p>
              There are many variations of authors that you can read to.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/IMG7.jpg') }}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Reference Corner
            </h6>
            <p>
              The noticeboard gives reader insights, while the reference corner displays books recently returned, to
              know about the current reading trend.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="btn-box">
        <a href="">
          Find More
        </a>
      </div> -->
    </div>
  </section>

  <!-- end sale section -->

  <!-- price section -->

  <section class="price_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Subscription
        </h2>
        <p>
          These are library services and can be availed by anyone.
        </p>
      </div>
      <div class="price_container">
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                01
              </h4>
              <h6>
                Academic Membership
              </h6>
            </div>
            <div class="text-box">
              <h2>
                Rs. 11,800
              </h2>
              <ul>
                <li>
                  In this you get access
                </li>
                <li>
                  to graduate, UG,PG
                </li>
                <li>
                  and Research programs.
                </li>
                <li>
                  On request submitted in
                </li>
                <li>
                  a prescribed application form.
                </li>
                <li>
                  &nbsp;
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                02
              </h4>
              <h6>
                Corporate Membership
              </h6>
            </div>
            <div class="text-box">
              <h2>
                Rs. 23,600
              </h2>
              <ul>
                <li>
                  This is a
                </li>
                <li>
                  membership extended to
                </li>
                <li>
                  industries, corporate houses
                </li>
                <li>
                  organizations in public
                </li>
                <li>
                  and private sector
                </li>
                <li>
                  through form.
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                03
              </h4>
              <h6>
                Individual Membership
              </h6>
            </div>
            <div class="text-box">
              <h2>
                Rs. 1,180
              </h2>
              <ul>
                <li>
                  This is a
                </li>
                <li>
                  membership extended to
                </li>
                <li>
                  Academics, Researchers & Students,
                </li>
                <li>
                  affiliated with academic
                </li>
                <li>
                  and public funded
                </li>
                <li>
                  research institutions through form.
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end price section -->

  <!-- deal section -->

  <section class="deal_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Best Deal to have Resources
              </h2>
            </div>
            <p>
              The IITGN library is a prime knowledge hub, offering diverse academic literature and research materials.
              With modern facilities and digital resources, it provides students and faculty access to authoritative
              sources across disciplines. Staffed by knowledgeable professionals, it supports scholarly inquiry and
              academic growth within the institution.
            </p>
            <!-- <a href="">
              Get A Quote
            </a> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <div class="box b1">
              <img src="{{ url_for('static', filename='images/IMG4.jpg') }}" alt="">

            </div>
            <div class="box b1">
              <img src="{{ url_for('static', filename='images/IMG5.jpg') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end deal section -->


  <!-- us section -->
  <!-- <section class="us_section layout_padding2">

    <div class="container">
      <div class="heading_container">
        <h2>
          Why Choose Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="images/u-1.png" alt="">
            </div>
            <div class="detail-box">
              <h3 class="price">
                1000+
              </h3>
              <h5>
                Years of House
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="images/u-2.png" alt="">
            </div>
            <div class="detail-box">
              <h3>
                20000+
              </h3>
              <h5>
                Projects Delivered
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="images/u-3.png" alt="">
            </div>
            <div class="detail-box">
              <h3>
                10000+
              </h3>
              <h5>
                Satisfied Customers
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="images/u-4.png" alt="">
            </div>
            <div class="detail-box">
              <h3>
                1500+
              </h3>
              <h5>
                Cheap Rates
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Get A Quote
        </a>
      </div>
    </div>
  </section>

  <!-- end us section -->

  <!-- client secction -->


  -->

  <!-- end client section -->

  <!-- contact section -->

  <section class="contact_section layout_padding-top">
    <div class="container">
      <div class="heading_container">
        <h2>
          Get In Touch
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3666.869566599802!2d72.6842489!3d23.211423600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2adec1f16d8d%3A0xdc447b8706689bc3!2sIndian%20Institute%20of%20Technology%20Gandhinagar!5e0!3m2!1sen!2sin!4v1654167187610!5m2!1sen!2sin"
                style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 ">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" placeholder="Name" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="d-flex ">
                <button>
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end contact section -->



  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="info_contact">
            <h5>
              About IITGN Library
            </h5>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/location.png') }}" width="18px" alt="">
              </div>
              <p>
                Block 13, Academic Area, IIT Gandhinagar, Palaj, Gujarat 382055
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/phone.png') }}" width="12px" alt="">
              </div>
              <p>
                <li>079 2395 2431</li>
                Central Library, IIT Gandhinagar, Primary phone
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/mail.png') }}" width="18px" alt="">
              </div>
              <p>
                libraryservices@iitgn.ac.in
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              <li>Library Hours</li>
              Monday to Friday: 9.00 a.m. to 2.00 a.m. Saturday, Sunday, and Holidays: 9.00 a.m. to 12.00 a.m.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="info_form ">
            <h5>
              IITGN library
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="https://www.facebook.com/iitgn.official/">
                <img src="{{ url_for('static', filename='images/fb.png') }}" alt="">
              </a>
              <a href="https://x.com/iitgn?t=JYeKmHSoJOT6fr14Qa41Pw&s=08">
                <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="">
              </a>
              <a href="https://www.linkedin.com/school/indian-institute-of-technology-gandhinagar-iitgn-/">
                <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="">
              </a>
              <a href="https://www.youtube.com/@IITGNOfficial">
                <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <!-- <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p> -->
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>


</body>

</html>